<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sd.src.stepcounterapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
            android:name=".HayaTechApplication"
            android:allowBackup="true"
            android:icon="@mipmap/app_icon_new"
            android:roundIcon="@mipmap/app_launcher_circle"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:largeHeap="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <receiver android:name="com.sd.src.stepcounterapp.utils.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity
                android:name=".activities.SplashActivity"
                android:exported="true"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.LandingActivity"
                  android:windowSoftInputMode="stateHidden"
                  android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="LandingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.OnboardingActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.MyProfileActivity"
                android:theme="@style/AppTheme.AppBarOverlay"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.ForgotPasswordActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.DeviceConnctdActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.BasicInfoActivity"
                android:windowSoftInputMode="stateVisible|adjustPan"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.BmiCalculatorActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.SyncDeviceActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.RewardsCategorySelectionActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.SignInActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.CorporateInfoActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.PurchasedDetails"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                android:theme="@style/Base.Theme.AppCompat"/>
        <activity
                android:name=".activities.DeviceSynchronizingActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.DeviceListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.GuideActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.LeaderboardActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.SurveyDetailActivity"
                android:screenOrientation="portrait"/>

        <service android:name=".service.MokoService"/>
        <service
                android:name=".firebase.MyFirebaseMessageService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
                android:name=".service.FitpoloNotificationCollectorService"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:name=".service.FitpoloNotificationCollectorMonitorService"/>
        <service android:name=".service.DfuService"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id"
                   android:value="@string/default_notification_channel_id"/>
    </application>

</manifest>